<div>
  <h1 style="display: inline;" class="align-middle">
    {{ title }}
  </h1>
  <!-- Button trigger modal -->
  <button class="btn" type="button" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-cog"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="url">Connect to host:</label>

          <input type="url" name="url" id="url" placeholder="http://localhost:8080"
            [(ngModel)]="newUrl" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="setMainEndpoint()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
