<button class="btn btn-primary" type="button" (click)="goBack()">
  <i class="fas fa-arrow-left"></i>
</button>
<div class="input-class">
  Введите имя и фамилию:
  <input [(ngModel)]="this.user.fullname">
  <button class="btn btn-primary" type="button" (click)="addUser()">
    Добавить пользователя
  </button>
</div>
