#main-container {
  background-image: url('/assets/angular_logo_blue_alpha.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin-left: 250px;
  position: absolute;
  width: calc(100% - 250px);
}
app-left-menu {
  display: block;
  font-family: "Roboto", sans-serif;
}
