<div class="category-wrap">
  <ul>
    <li><a href="/user" routerLinkActive="active">Пользователи</a></li>
    <li><a href="/product" routerLinkActive="active">Товары</a></li>
    <li><a href="/group" routerLinkActive="active">Группы товаров</a></li>
    <li><a href="/order" routerLinkActive="active">Заказы</a></li>
    <li><a href="/point" routerLinkActive="active">Пункты выдачи</a></li>
  </ul>
</div>
