.category-wrap {
  background: white;
  width: 200px;
  font-weight: 700;
  float: left;
  background-color: #696f75;
  position: absolute;
  overflow: auto;
}
.category-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-wrap li {
  margin: 12px 0 0 0px;
}
.category-wrap a {
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: rgba(224, 224, 224, 0.6);
  padding: 5px 20px;
  position: relative;
  transition: .3s linear;
}
.category-wrap a:hover {
  background: #007bff;
  color: white;
  border-radius: 4px;
}
