<div class="container">
  <a *ngFor="let product of products" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        #{{ product.id }} name: {{ product.name }}
        <button class="btn btn-primary" type="button" (click)="setting(product.id)">
          <i class="fas fa-wrench"></i>
        </button>
        <button class="btn btn-primary" type="button" (click)="delete(product.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </h5>
    </div>
  </a>
</div>
