<button class="btn btn-primary" type="button" (click)="goBack()">
  <i class="fas fa-arrow-left"></i>
</button>
<button class="btn btn-primary" type="button" (click)="refresh()">
  <i class="fas fa-sync"></i>
</button>

<div *ngIf="user == undefined; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div>User undefined</div>
</ng-template>
<ng-template #elseBlock>
  <div>#{{ user.id }} fullname: <input #newFullname [value]="user.fullname" /></div>
  <button class="btn btn-primary" type="button" (click)="save(newFullname.value)">
    <i class="far fa-save"></i>
  </button>
</ng-template>
