<button class="btn btn-primary" type="button" (click)="refresh()">
  <i class="fas fa-sync"></i>
</button>
<button class="btn btn-primary" type="button" (click)="addUser()">
  <i class="fas fa-plus"></i>
</button>

<div class="container">
  <a *ngFor="let user of users" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        #{{ user.id }}: {{ user.fullname }}
        <button class="btn btn-primary" type="button" (click)="setting(user.id)">
          <i class="fas fa-wrench"></i>
        </button>
        <button class="btn btn-primary" type="button" (click)="delete(user.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </h5>
    </div>
  </a>
</div>
