.list-group-item {
  background-color: #49729a;
  margin-right: 10px;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    background-color: #0a68c5;
}
.list-group-item-action:active {
  background-color: #86a8ca;
}
