/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
body {
  background-color: #696f75;
  color: white;
}
